.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .cta-buttons {
    margin-top: 20px;
  }
  
  .cta-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  .categories-list {
    list-style-type: none;
    padding: 0;
  }
  
  .categories-list li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .categories-list li a {
    color: #007bff;
    text-decoration: none;
  }
  
  .categories-list li a:hover {
    text-decoration: underline;
  }

  .book-cards {
    display: flex;
    flex-wrap: wrap; /* Pour permettre aux cartes de passer à la ligne si l'espace est insuffisant */
    justify-content: space-between; /* Pour répartir les cartes de manière égale sur la ligne */
  }